* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* BODY */
body {
  background: #F2F0EA;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #A58F6F;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right,#A0D4E0 , #A0D4E0);
  color:#333;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FEATURES GRID */
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* API */
.api-section {
  text-align: center;
  padding: 40px;
   background: white;
  border-left: 5px solid #A58F6F;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 40px;
}

.contact input {
  padding: 10px;
  margin: 5px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}
section {
  margin: 60px 0;
}
button {
  background: #A58F6F;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}


@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .features {
    grid-template-columns: 1fr;
  }
}